@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lq3rjl');
  src:  url('fonts/icomoon.eot?lq3rjl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lq3rjl') format('truetype'),
    url('fonts/icomoon.woff?lq3rjl') format('woff'),
    url('fonts/icomoon.svg?lq3rjl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-echart:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text:before {
  content: "\e926";
}
.icon-command:before {
  content: "\ea4e";
}
.icon-codepen:before {
  content: "\eae8";
}
